.tableContent {
    padding: 30px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.handleBox{
    margin-bottom: 20px;
    display: flex;
}
.handleBox > div{
    margin-right: 20px;
}

.handleBox .el-select {
    width: 120px;
}

.breadcrumbMian {
    margin-bottom: 20px;
}

.el-checkbox__inner{
    border: 1px solid #ccc;
}
.demo-table-expand {
    font-size: 0;
}

.demo-table-expand label {
    width: 90px;
    color: #99a9bf;
}

.demo-table-expand .el-form-item {
    margin-right: 0;
    margin-bottom: 0;
    width: 50%;
}

.currentPage {
    margin-top: 30px;
    text-align: right;
}
.red{
    color: #F56C6C;
}
.red:hover{
    color: #FF0505;
}
.red:focus{
    color: #FF0303;
}