.header
    height 70px;
    background #242f42;
    display: flex;
    justify-content: space-between;
    color #FFF;

    .v_headerLeft
        width 250px;
        height 100%;
        overflow hidden;
        line-height 70px;
        text-align center;
        font-size 22px;

    .v_headerRight
        margin-right 50px;
        display flex;
        align-items center;
        cursor pointer;

        span 
            padding-left 10px;

        img 
            width 40px;
            height 40px;
            border-radius 100%;