.sidebar
    width 250px;
    position absolute;
    top 70px;
    left 0;
    bottom 0;
    background #324157;
    color #FFF;

.el-menu--dark, .el-menu--dark .el-menu-item
    width 100%;
    background-color #324157 

.el-menu--dark .el-submenu .el-menu, .el-menu--dark .el-submenu .el-menu-item
    background-color #1f2d3d

.el-menu-item:hover, .el-submenu__title:hover
    background-color #48576a !important;

.el-submenu__title i, .el-menu-item i
    color #BFCBD9;

        
        
    